{{define "form"}}
<!DOCTYPE html>
<html><head>
    <title>Form!</title>
    <link rel="stylesheet" type="text/css" href="css/zstat.css"/>
    <meta charset="UTF-8">
    <script>
    function cd(i){
      var now = new Date();
      now.setDate(now.getDate()-i);
      var dd = now.getDate();
      var mm = now.getMonth()+1;
      var yy = now.getFullYear();

      if(dd<10){
          dd='0'+dd
        }
      if(mm<10){
          mm='0'+mm
        }
        var now = dd+'.'+mm+'.'+yy;
      return now;
    }


    window.onkeypress = function(e) {
        if ((e.which || e.keyCode) == 13) {
            subm();
        }

      if ((e.which || e.keyCode) == 27) {
      var sw = document.getElementById('ws');
      var hi = document.getElementById('ih');
      var na = document.getElementById('an');
      var nb = document.getElementById('bn');
      var ds = document.getElementById('sd');
      var de = document.getElementById('ed');
      var dr = document.getElementById('rd');
      var ot = document.getElementById('to');
      var it = document.getElementById('ti');
      var du = document.getElementById('ud');
      sw.value="";
      hi.value="";
      na.value="";
      nb.value="";
      ds.value="";
      de.value="";
      dr.value="";
      ot.value="";
      it.value="";
      du.value="";

      }

      if ((e.which || e.keyCode) == 120) {
              window.close();
          }
    }

    function subm(){
      var f0 = document.getElementById('f0');
      f0.submit();
      }


    </script>

    </head>
    <body>
    <form id="f0" action="/call" method="post"></form>
    <div class="col"><span id="left">Кількість записів: {{.}}</span></div>
    <div class="col2"></div>
   <div class=top>
    <table id="tbl">
       <th id="id">№</th>
       <th id="sw"><input form="f0" id=ws type="text" name="sw" placeholder="Ст."/></th>
       <th id="hi"><input form="f0" id=ih type="text" name="hi" placeholder="Струк."/></th>
       <th id="na"><input form="f0" id=an type="text" name="na" placeholder="Номер А"/></th>
       <th id="nb"><input form="f0" id=bn type="text" name="nb" placeholder="Номер Б"/></th>
       <th id="ds"><input form="f0" id=sd type="text" name="ds" placeholder="Дата початку"/></th>
       <th id="de"><input form="f0" id=ed type="text" name="de" placeholder="Дата кінця"/></th>
       <th id="dr"><input form="f0" id=rd type="text" name="dr" placeholder="Напр."/></th>
       <th id="it"><input form="f0" id=ti type="text" name="it" placeholder="Вх.ТГ"/></th>
       <th id="ot"><input form="f0" id=to type="text" name="ot" placeholder="Вих.ТГ"/></th>
       <th id="du" style="border-right:0;"><input form="f0" id=ud type="text" name="du" placeholder="Сек."/></th>
   </table>
  </div>
 </div>
 <div class="foot"></div>
</body></html>
{{end}}
